APP_NAME=Comics Local Generator API
APP_ENV=development
API_V1_PREFIX=/api/v1
FRONTEND_ORIGIN=http://127.0.0.1:5173
MODEL_PATH=/home/seechan1/Desktop/comics/models/basemodel/v1-5-pruned-emaonly.safetensors
MODEL_CONFIG_PATH=/home/seechan1/Desktop/comics/models/config_files/v1-inference.yaml
CONTROLNET_MODEL_PATH=/home/seechan1/Desktop/comics/models/controlnet/control_v11p_sd15_lineart.safetensors
CONTROLNET_CONFIG_PATH=/home/seechan1/Desktop/comics/models/config_files/control_v11p_sd15_lineart.yaml
CONTROLNET_DIFFUSERS_CONFIG_DIR=/home/seechan1/Desktop/comics/models/controlnet/control_v11p_sd15_lineart_diffusers
CONTROLNET_ANNOTATOR_CACHE_DIR=/home/seechan1/Desktop/comics/models/controlnet/annotators
OUTPUT_DIR=/home/seechan1/Desktop/comics/output
DEFAULT_WIDTH=512
DEFAULT_HEIGHT=512
DEFAULT_STEPS=20
DEFAULT_CFG_SCALE=7.5
DEFAULT_NEGATIVE_PROMPT=
